table {
  margin: 2em 0 2em 0;
  margin-left: auto;
  margin-right: auto;
  color: #666;
  background: #eaebec;
  border-collapse: collapse;
  border: #ccc 1px solid;
  border-radius: 3px;
}

table th {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
}

table td {
  padding-left: 10px;
  padding-right: 10px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
}

table td:first-child {
  border-left: none;
}