#header-logo {
  width: 110px;
  height: 60px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 22pt;
  font-weight: bold;
  line-height: 80%;
  font-family: 'Dancing Script';
}

.structure_symbol {
  font-family: 'Dancing Script';
  font-weight: bold;
  color: coral;
  word-spacing: 1em;
}

.structure_symbol_cn {
  font-family: 'Zhi Mang Xing';
  font-size: 1.5em;
  color: coral;
  word-spacing: 1em;
}
